{%extends 'myapp/base.html'%}
{% load static %}
{%block title %}Login{% endblock %}
{%block content%}
<main role="main" class="container">
    <div class="row mb-5 mt-3">
        <form method="post" class="card" novalidate>
            {% csrf_token %}
            <legend class="text-center">Registro</legend>
            {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <small>{{ field.errors|striptags }}</small>
            {% endif %}
            {% endfor %}
            <input type="submit" value="Registrarse" class="btn btn-secondary full-width">
        </form>
    </div>
</main>
{%endblock content%}