{% extends 'myapp/base.html' %}

{%block content %}
{% load static %}
<main role="main" class="container">
    <div class="starter-template">
        <h2 class="mt-5">¡Bienvenidos a Quiero Algo Dulce!</h2>
        <hr>
        <h3>Esto es MY APP</h3>
        <p class="small"><em>
                Este es un sitio e-commerce construido con Django / Python<br>
                Perteneciente al curso dictado por @Digitalers de la carrera de Desarrollo Web con Python<br>
                <hr>
                Alumna: Solange López<br>
                Profesores: Jorge Angel Paez / Norman Beltran<br>
            </em>
        </p>
    </div>

</main>

<!-- <h2 class="text-secondary">Hola {{ nombre }}</h2>
<div class="container">
    <div class="row" style="gap: 15px;">
        <div class="card text-white bg-secondary mb-3 col-12 col-md-4" style="max-width: 20rem;">
            <div class="card-header"> <img class="img-fluid"
                    src="{% static 'myapp/LogoQAD1.png' %} " alt="">
            </div>
            <div class="card-body">
                <p class="card-text">Tortas</p>
            </div>
        </div>


        <div class="card text-white bg-secondary mb-3 col-12 col-md-4" style="max-width: 20rem;">
            <div class="card-header"> <img class="img-fluid"
                src="{% static 'myapp/LogoQAD1.png' %} " alt="">
            </div>
            <div class="card-body">
                <p class="card-text">Desayunos</p>
            </div>
        </div>
        <div class="card text-white bg-secondary mb-3 col-12 col-md-4" style="max-width: 20rem;">
            <div class="card-header"> <img class="img-fluid"
                src="{% static 'myapp/LogoQAD1.png' %} " alt="">
            </div>
            <div class="card-body">
                <p class="card-text">Catering</p>
            </div>
        </div>
        <div class="card text-white bg-secondary mb-3 col-12 col-md-4" style="max-width: 20rem;">
            <div class="card-header"> <img class="img-fluid"
                src="{% static 'myapp/LogoQAD1.png' %} " alt="">
            </div>
            <div class="card-body">
                <p class="card-text">Tartas</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 
 -->



<!-- <a href="lista">Ver Lista de Productos</a>
 -->